<div class="card p-2 m-3" statusProject [progress]="project.progress">
  <div class="row p-2">
    <div class="col-md-4">
      <image-async [url]="project.imgThumbnail">
        <div class="thumb-overlay">
          <div class="sk-folding-cube">
            <div class="sk-cube1 sk-cube"></div>
            <div class="sk-cube2 sk-cube"></div>
            <div class="sk-cube4 sk-cube"></div>
            <div class="sk-cube3 sk-cube"></div>
          </div>
        </div>
      </image-async>
    </div>
    <div class="col-md-8">
      <div class="form-group">
        <label>Project Name</label>
        <input type="text" class="form-control" [value]="project.name" readonly>
      </div>
      <div class="form-group">
        <label>Where Is Implemented</label>
        <input type="text" class="form-control" [value]="project.implement" readonly>
      </div>
      <div class="row">
        <p class="col-6"> Acronym Name: </p>
        <div class="col-6">
          <image-async [url]="project.imgLogo">
            <div class="thumb-overlay">
              <div class="sk-folding-cube">
                <div class="sk-cube1 sk-cube"></div>
                <div class="sk-cube2 sk-cube"></div>
                <div class="sk-cube4 sk-cube"></div>
                <div class="sk-cube3 sk-cube"></div>
              </div>
            </div>
          </image-async>
        </div>
      </div>
    </div>
  </div>
  <div class="row p-2">
    <div class="col-md-4">
      <b>Project Progress:</b> {{project.progress}}
    </div>
    <div class="col-md-8">
      <span class="btn" [ngClass]="{'btn-success': project.status == 'Online', 'btn-secondary': project.status == 'Offline'}"> Network: {{project.status}}</span>
      <a [href]="project.link" target="_blank" class="btn btn-info" *ngIf="project.status == 'Online'"> Go To Project</a>
    </div>
  </div>
</div>
