<div class="card">
  <div class="card-header">
    <div class="card-title">
      Developer
    </div>
  </div>
  <div class="row p-2">
    <div class="col-md-4">
      <image-async [url]="user.photo">
        <div class="thumb-overlay">
          <div class="sk-folding-cube">
            <div class="sk-cube1 sk-cube"></div>
            <div class="sk-cube2 sk-cube"></div>
            <div class="sk-cube4 sk-cube"></div>
            <div class="sk-cube3 sk-cube"></div>
          </div>
        </div>
      </image-async>
    </div>
    <div class="col-md-8">
      <div class="form-group">
        <label>Full Name</label>
        <input type="text" class="form-control"  [value]="user.fullName">
      </div>
      <div class="form-group">
        <label>Team</label>
        <input type="text" class="form-control"  [value]="user.team">
      </div>
      <div class="form-group">
        <label>Birth Date</label>
        <input type="text" class="form-control"  [value]="user.birthDate">
      </div>
      <div class="form-group">
        <label>Age</label>
        <input type="text" class="form-control"  [value]="user.birthDate | year">
      </div>
    </div>
  </div>
</div>
